.card {
  background: white;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  padding: 0.5rem;
  text-align: center;
  color: black;
  width: 100%;
}

.thumbnail {
  padding: 1rem;
  background: #e9ecff;
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

.image {
  object-fit: cover;
}

.content {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.title {
  text-align: left;
  font-size: 1rem;
  font-weight: 600;
  width: 18.75rem;
}

.status {
  text-align: right;
  font-size: 1rem;
  font-weight: 600;
  width: 18.75rem;
}

.button {
  margin: 0.5rem 0;
  background: blue;
  color: white;
  border: none;
  padding: 1rem 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

.button:hover {
  background-color: rgb(47, 47, 223);
  transform: scale(0.99);
}
