.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  padding: 0.5rem;
  color: black;
  width: 100%;
  height: 100px;
  border-radius: 8px;
}

.information-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.title {
  font-size: x-large;
  font-weight: 600;
  width: 18.75rem;
}

.status {
  font-size: 1rem;
  font-weight: 600;
  width: 100px;
  background-color: lightgray;
  border-radius: 18px;
  text-align: center;
  padding: 5px 10px;
}

.button {
  background: blue;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 1rem 1.5rem;
  font-weight: bold;
  cursor: pointer;
  height: 40px;
  display: flex;
  align-items: center;
}

.button:hover {
  background-color: rgb(47, 47, 223);
  transform: scale(0.99);
}
