.buttonsContainer {
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin-top: 2rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: white;
  color: #1e293b;
  width: 100%;
  height: 100%;
  padding: 50px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  margin-top: 1rem;
}

.passwordContainer {
  margin: 0;
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.input {
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 40px;
  width: 100%;
  box-sizing: border-box;
  background-color: white;
  color: black;
}

.eye {
  position: absolute;
  left: 95%;
  bottom: 24px;
  cursor: pointer;
  color: gray;
  visibility: visible;
}

.button {
  font-weight: bold;
  padding: 0.5rem 1rem;
  background-color: #2563eb;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  width: 100%;
  height: 40px;
}
.button:hover {
  background-color: #1d4ed8;
}
.button:active {
  background-color: #004080;
}
.button:focus {
  outline: 2px solid #005bb5;
  outline-offset: 2px;
}
.button:focus-visible {
  outline: 2px solid #005bb5;
  outline-offset: 2px;
}
.button:focus:not(:focus-visible) {
  outline: none;
}
.button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  color: #666;
}

@media (max-width: 1200px) {
  .eye {
    left: 93%;
  }
}
