.panel {
  background: #f0fdf4;
  padding: 2rem;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  height: 100%;
}

.mic {
  padding: 2rem;
  background: linear-gradient(to bottom right, #fdf4ff, #e0f2fe);
  border-radius: 10px;
  border: 1px solid #e5e7eb;
}

.icon {
  font-size: 3rem;
  display: block;
  margin-bottom: 1rem;
  color: #ec4899;
}

.recordBtn {
  background-color: #ef4444;
  color: white;
  padding: 0.5rem 1rem;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  margin-top: 1rem;
  cursor: pointer;
}
