.panel {
  background: #f5f7fe;
  padding-top: 2rem;
  text-align: center;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  height: 100%;
}

.mic {
  padding: 2rem;
  background: white;
  border: 1px solid #e5e7eb;
  color: black;
}

.icon {
  font-size: 3rem;
  display: block;
  margin-bottom: 1rem;
  color: #ec4899;
}

.recordBtn {
  background-color: #ef4444;
  color: white;
  padding: 0.5rem 1rem;
  font-weight: bold;
  border: none;
  margin: 0.5rem;
  cursor: pointer;
}
