.card {
  background: #fff;
  /* padding: 1rem; */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  width: 100%;
}

.videoBox {
  background: #0f172a;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

.icon {
  font-size: 2rem;
  display: block;
  margin-bottom: 0.5rem;
}

.segment {
  font-size: 0.9rem;
  margin-top: 0.5rem;
}

.controls {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
}

.restart,
.play,
.loop {
  padding: 0.5rem 0.75rem;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

.restart {
  background-color: #f3f4f6;
  background-color: #3b82f6;
}

.play {
  background-color: #3b82f6;
  color: white;
}

.loop {
  background-color: #1f2937;
  color: white;
}

.loop.on {
  background-color: #10b981;
}

.sliderGroup {
  margin-top: 1rem;
  text-align: left;
}

.sliderGroup label {
  color: #0f172a;
  display: block;
  font-size: 0.8rem;
  margin-top: 0.5rem;
}
