.main {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
  background-color: #f5f7fe;
}

.container {
  background-color: #f5f7fe;
  min-height: 100vh;
  width: 100%;
  max-width: 1280px;
  padding: 10px 10px;
}

.title {
  font-size: 2rem;
  color: black;
  font-weight: bold;
  margin: 20px 0;
}

.cards-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  min-height: max-content;
}
